In [1]:
import pandas as pd
import numpy as np

In [2]:
df_cacao = pd.read_csv('data/flavors_of_cacao.csv', encoding='utf-8')

In [3]:
df_cacao.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [4]:
#create a copy
cdf_cacao = df_cacao.copy()

In [5]:
columns = cdf_cacao.columns

In [6]:
columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [7]:
#change column names - did NOT work for the first column...
cdf_cacao.rename(columns = {'Company \n(Maker-if known)' : 'Maker' , 'Specific Bean Origin\nor Bar Name' : 'Name' , 'Review\nDate' : 'Review Date' , 'Cocoa\nPercent' : 'Cacao %' , 
                 'Company\nLocation' : 'Made in' , 'Bean\nType' : 'Bean Type' , 'Broad Bean\nOrigin': "Bean Origin"} )

,Company \n(Maker-if known),Name,REF,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [8]:
#different method
cdf_cacao.columns = ['Maker' , 'Name' , 'REF#' , 'Review Date' ,  'Cacao %' , 'Made in' , 'Rating' , 'Bean Type' ,  'Bean Origin' ]
cdf_cacao

,Maker,Name,REF#,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [9]:
missing_values = (cdf_cacao.isna().sum() / cdf_cacao.shape[0]) * 100
missing_values

Maker          0.00000
Name           0.00000
REF#           0.00000
Review Date    0.00000
Cacao %        0.00000
Made in        0.00000
Rating         0.00000
Bean Type      0.05571
Bean Origin    0.05571
dtype: float64

In [10]:
# check if bars have only bean reviewed once
len(df_cacao['Specific Bean Origin\nor Bar Name'].unique())

1039

In [11]:
dups = cdf_cacao.duplicated()
dups.sum()

0

In [12]:
cdf_cacao[['Name', 'Review Date']]

                    Name  Review Date
0            Agua Grande         2016
1                  Kpime         2015
2                 Atsane         2015
3                  Akata         2015
4                 Quilla         2015
...                  ...          ...
1790                Peru         2011
1791               Congo         2011
1792        Kerala State         2011
1793        Kerala State         2011
1794  Brazil, Mitzi Blue         2010

[1795 rows x 2 columns]

In [13]:
#are the duplicates because of reviews in different years or a different cacao %?
cdf_cacao.groupby(['Name', 'Review Date', 'Cacao %'])['REF#'].count()

Name                                      Review Date  Cacao %
"heirloom", Arriba Nacional               2016         73%        1
                                                       85%        1
100 percent                               2010         100%       1
2009 Hapa Nibby                           2010         70%        1
A case of the Xerces Blues, triple roast  2015         70%        1
                                                                 ..
black label                               2012         72%        1
la Amistad                                2014         70%        1
one hundred                               2014         100%       1
single estate                             2012         80%        1
the lost city, gracias a dias, batch 362  2015         72%        1
Name: REF#, Length: 1690, dtype: int64

In [14]:
cdf_cacao

,Maker,Name,REF#,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [15]:
missing_values = (cdf_cacao.isna().sum() / cdf_cacao.shape[0]) * 100
missing_values

Maker          0.00000
Name           0.00000
REF#           0.00000
Review Date    0.00000
Cacao %        0.00000
Made in        0.00000
Rating         0.00000
Bean Type      0.05571
Bean Origin    0.05571
dtype: float64

In [16]:
miss_cols = ['Bean Type', 'Bean Origin']

In [17]:
unknown_cond = {col:'Unknown' for col in miss_cols}
unknown_cond

{'Bean Type': 'Unknown', 'Bean Origin': 'Unknown'}

In [18]:
cdf2 = cdf_cacao.fillna(unknown_cond)

In [19]:
cdf2

,Maker,Name,REF#,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [20]:
len(cdf_cacao['Bean Type'][1])

1

In [21]:
cdf2_cacao = cdf_cacao.replace(u'\xa0', 'Unknown')

In [22]:
cdf_cacao['Bean Origin']

0       Sao Tome
1           Togo
2           Togo
3           Togo
4           Peru
          ...
1790        Peru
1791       Congo
1792       India
1793       India
1794      Brazil
Name: Bean Origin, Length: 1795, dtype: object

In [23]:
cdf2_cacao['Bean Origin'].unique()

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', 'Unknown', 'Jamaica',
       'Grenada', 'Guatemala', 'Honduras', 'Costa Rica',
       'Domincan Republic', 'Haiti', 'Congo', 'Philippines', 'Malaysia',
       'Dominican Rep., Bali', 'Venez,Africa,Brasil,Peru,Mex', 'Gabon',
       'Ivory Coast', 'Carribean', 'Sri Lanka', 'Puerto Rico', 'Uganda',
       'Martinique', 'Sao Tome & Principe', 'Vanuatu', 'Australia',
       'Liberia', 'Ecuador, Costa Rica', 'West Africa', 'Hawaii',
       'St. Lucia', 'Cost Rica, Ven', 'Peru, Madagascar',
       'Venezuela, Trinidad', 'Trinidad, Tobago',
       'Ven, Trinidad, Ecuador', 'South America, Africa', 'India',
       'Africa, Carribean, C. Am.', 'Tobago', 'Ven., Indonesia, Ecuad.',
       'Trinidad-Tobago', 'Peru, Ecuador, Venezuela',
       'Venezuela, Dom. Rep.', 'Colombia, Ecuador', 'Solomon Islands',
       'Nigeria', 'Peru, Belize', 'Peru, Mad., Dom. Rep.', nan,
       'PNG, Vanuatu, Mad', 'El Salvador', 'South America', 'Samoa',
       'Ghana, Domin. Rep', 'Trinidad, Ecuador', 'Cameroon',
       'Venezuela, Java', 'Venezuela/ Ghana', 'Venezuela, Ghana',
       'Indonesia, Ghana', 'Peru(SMartin,Pangoa,nacional)', 'Principe',
       'Central and S. America', 'Ven., Trinidad, Mad.',
       'Carribean(DR/Jam/Tri)', 'Ghana & Madagascar',
       'Ven.,Ecu.,Peru,Nic.', 'Madagascar & Ecuador',
       'Guat., D.R., Peru, Mad., PNG', 'Peru, Dom. Rep',
       'Dom. Rep., Madagascar', 'Gre., PNG, Haw., Haiti, Mad',
       'Mad., Java, PNG', 'Ven, Bolivia, D.R.', 'DR, Ecuador, Peru',
       'Suriname', 'Peru, Ecuador', 'Ecuador, Mad., PNG',
       'Ghana, Panama, Ecuador', 'Venezuela, Carribean'], dtype=object)

# 
#Next step is to identify all blends to limit the number of different types

In [24]:
cdf3_cacao = cdf2_cacao.astype(str)

In [25]:
blend = [',', '&', '/']
blends_list = []
for origin in cdf3_cacao['Bean Origin']:
    if any(x in origin for x in blend):
    #',' in origin or "&" in origin or '(' in origin:
         blends_list.append(origin)

In [26]:
blends_list

['Dominican Rep., Bali',
 'Venez,Africa,Brasil,Peru,Mex',
 'Sao Tome & Principe',
 'Sao Tome & Principe',
 'Sao Tome & Principe',
 'Sao Tome & Principe',
 'Sao Tome & Principe',
 'Ecuador, Costa Rica',
 'Sao Tome & Principe',
 'Cost Rica, Ven',
 'Peru, Madagascar',
 'Venezuela, Trinidad',
 'Trinidad, Tobago',
 'Ven, Trinidad, Ecuador',
 'South America, Africa',
 'Africa, Carribean, C. Am.',
 'Ven., Indonesia, Ecuad.',
 'Peru, Ecuador, Venezuela',
 'Venezuela, Dom. Rep.',
 'Colombia, Ecuador',
 'Colombia, Ecuador',
 'Colombia, Ecuador',
 'Peru, Belize',
 'Peru, Mad., Dom. Rep.',
 'PNG, Vanuatu, Mad',
 'Trinidad, Tobago',
 'Ghana, Domin. Rep',
 'Ghana, Domin. Rep',
 'Trinidad, Ecuador',
 'Venezuela, Java',
 'Venezuela/ Ghana',
 'Sao Tome & Principe',
 'Venezuela, Ghana',
 'Indonesia, Ghana',
 'Peru(SMartin,Pangoa,nacional)',
 'Ven., Trinidad, Mad.',
 'Carribean(DR/Jam/Tri)',
 'Ghana & Madagascar',
 'Ven.,Ecu.,Peru,Nic.',
 'Madagascar & Ecuador',
 'Guat., D.R., Peru, Mad., PNG',
 'Peru, Dom. Rep',
 'Dom. Rep., Madagascar',
 'Gre., PNG, Haw., Haiti, Mad',
 'Mad., Java, PNG',
 'Ven, Bolivia, D.R.',
 'DR, Ecuador, Peru',
 'Peru, Ecuador',
 'Ecuador, Mad., PNG',
 'Ghana, Panama, Ecuador',
 'Venezuela, Carribean']

In [27]:
cdf3_cacao.loc[cdf3_cacao['Bean Origin'].str.contains(','), 'Bean Origin'] = 'blend'

In [28]:
cdf3_cacao.loc[cdf3_cacao['Bean Origin'].str.contains('/'), 'Bean Origin'] = 'blend'

In [29]:
cdf3_cacao.loc[cdf3_cacao['Bean Origin'].str.contains('&'), 'Bean Origin'] = 'blend'

In [30]:
cdf3_cacao.loc[cdf3_cacao['Bean Origin'].str.contains('and'), 'Bean Origin'] = 'blend'

In [31]:
origins = cdf3_cacao['Bean Origin'].unique()
origins

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', 'Unknown', 'Jamaica',
       'Grenada', 'Guatemala', 'Honduras', 'Costa Rica',
       'Domincan Republic', 'Haiti', 'Congo', 'Philippines', 'Malaysia',
       'blend', 'Gabon', 'Ivory Coast', 'Carribean', 'Sri Lanka',
       'Puerto Rico', 'Martinique', 'Vanuatu', 'Australia', 'Liberia',
       'West Africa', 'Hawaii', 'St. Lucia', 'India', 'Tobago',
       'Trinidad-Tobago', 'Nigeria', 'nan', 'El Salvador',
       'South America', 'Samoa', 'Cameroon', 'Principe', 'Suriname'],
      dtype=object)

In [32]:
cdf3_cacao.loc[cdf3_cacao['Bean Origin'].str.contains('nan'), 'Bean Origin'] = 'Unknown'

# 
#finding missspelled origins

# 
#import pandas_dedupe

In [33]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\matri\anaconda3\lib\site-packages (0.18.0)

In [34]:
from fuzzywuzzy import fuzz

C:\Users\matri\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')


#DID NOT WORK:

#from fuzzywuzzy import process
#best_guess = process.extractOne(origins, origins)
#for i in origins:
    #print(f"The best match for '{i}' is '{best_guess[0]}' which is a {best_guess[1]}% match.")

In [35]:
origins

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', 'Unknown', 'Jamaica',
       'Grenada', 'Guatemala', 'Honduras', 'Costa Rica',
       'Domincan Republic', 'Haiti', 'Congo', 'Philippines', 'Malaysia',
       'blend', 'Gabon', 'Ivory Coast', 'Carribean', 'Sri Lanka',
       'Puerto Rico', 'Martinique', 'Vanuatu', 'Australia', 'Liberia',
       'West Africa', 'Hawaii', 'St. Lucia', 'India', 'Tobago',
       'Trinidad-Tobago', 'Nigeria', 'nan', 'El Salvador',
       'South America', 'Samoa', 'Cameroon', 'Principe', 'Suriname'],
      dtype=object)

In [36]:
sorigins = sorted(origins)

In [37]:
sorigins

['Australia',
 'Belize',
 'Bolivia',
 'Brazil',
 'Burma',
 'Cameroon',
 'Carribean',
 'Colombia',
 'Congo',
 'Costa Rica',
 'Cuba',
 'Domincan Republic',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Fiji',
 'Gabon',
 'Ghana',
 'Grenada',
 'Guatemala',
 'Haiti',
 'Hawaii',
 'Honduras',
 'India',
 'Indonesia',
 'Ivory Coast',
 'Jamaica',
 'Liberia',
 'Madagascar',
 'Malaysia',
 'Martinique',
 'Mexico',
 'Nicaragua',
 'Nigeria',
 'Panama',
 'Papua New Guinea',
 'Peru',
 'Philippines',
 'Principe',
 'Puerto Rico',
 'Samoa',
 'Sao Tome',
 'South America',
 'Sri Lanka',
 'St. Lucia',
 'Suriname',
 'Tanzania',
 'Tobago',
 'Togo',
 'Trinidad',
 'Trinidad-Tobago',
 'Unknown',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Africa',
 'blend',
 'nan']

In [38]:
cdf3_cacao['Bean Origin'] = cdf3_cacao['Bean Origin'].replace('Domincan Republic', 'Dominican Republic')

In [39]:
cdf3_cacao['Bean Origin'].unique()

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', 'Unknown', 'Jamaica',
       'Grenada', 'Guatemala', 'Honduras', 'Costa Rica', 'Haiti', 'Congo',
       'Philippines', 'Malaysia', 'blend', 'Gabon', 'Ivory Coast',
       'Carribean', 'Sri Lanka', 'Puerto Rico', 'Martinique', 'Vanuatu',
       'Australia', 'Liberia', 'West Africa', 'Hawaii', 'St. Lucia',
       'India', 'Tobago', 'Trinidad-Tobago', 'Nigeria', 'El Salvador',
       'South America', 'Samoa', 'Cameroon', 'Principe', 'Suriname'],
      dtype=object)

In [40]:
cdf3_cacao['Bean Type'].unique()

array(['Unknown', 'Criollo', 'Trinitario', 'Forastero (Arriba)',
       'Forastero', 'Forastero (Nacional)', 'Criollo, Trinitario',
       'Criollo (Porcelana)', 'Blend', 'Trinitario (85% Criollo)',
       'Forastero (Catongo)', 'Forastero (Parazinho)',
       'Trinitario, Criollo', 'CCN51', 'Criollo (Ocumare)', 'Nacional',
       'Criollo (Ocumare 61)', 'Criollo (Ocumare 77)',
       'Criollo (Ocumare 67)', 'Criollo (Wild)', 'Beniano', 'Amazon mix',
       'Trinitario, Forastero', 'Forastero (Arriba) ASS', 'Criollo, +',
       'Amazon', 'Amazon, ICS', 'EET', 'Blend-Forastero,Criollo',
       'Trinitario (Scavina)', 'Criollo, Forastero', 'Matina',
       'Forastero(Arriba, CCN)', 'Nacional (Arriba)',
       'Forastero (Arriba) ASSS', 'Forastero, Trinitario',
       'Forastero (Amelonado)', 'nan', 'Trinitario, Nacional',
       'Trinitario (Amelonado)', 'Trinitario, TCGA', 'Criollo (Amarru)'],
      dtype=object)

# 
#simplify types

In [41]:
#start = mystring.find( '(' )
Bean_Type_Simplified = []

for i in cdf3_cacao['Bean Type']:
    start = i.find( '(' )
    if start != -1 :
        result = i[:start-2]
        Bean_Type_Simplified.append(result)
    else:
        Bean_Type_Simplified.append(i)
        
len(Bean_Type_Simplified)

1795

In [42]:
cdf3_cacao['Bean Type 2'] = Bean_Type_Simplified

In [43]:
cdf3_cacao['Bean Type 2'].unique()

array(['Unknown', 'Criollo', 'Trinitario', 'Foraster', 'Forastero',
       'Criollo, Trinitario', 'Crioll', 'Blend', 'Trinitari',
       'Trinitario, Criollo', 'CCN51', 'Nacional', 'Beniano',
       'Amazon mix', 'Trinitario, Forastero', 'Criollo, +', 'Amazon',
       'Amazon, ICS', 'EET', 'Blend-Forastero,Criollo',
       'Criollo, Forastero', 'Matina', 'Foraste', 'Naciona',
       'Forastero, Trinitario', 'nan', 'Trinitario, Nacional',
       'Trinitario, TCGA'], dtype=object)

In [44]:
cdf3_cacao.loc[cdf3_cacao['Bean Type 2'].str.contains(','), 'Bean Type 2'] = 'Blend'

In [45]:
cdf3_cacao.loc[cdf3_cacao['Bean Type 2'].str.contains('nan'), 'Bean Type 2'] = 'Unknown'

In [46]:
cdf3_cacao['Bean Type 2'].unique()

array(['Unknown', 'Criollo', 'Trinitario', 'Foraster', 'Forastero',
       'Blend', 'Crioll', 'Trinitari', 'CCN51', 'Nacional', 'Beniano',
       'Amazon mix', 'Amazon', 'EET', 'Matina', 'Foraste', 'Naciona'],
      dtype=object)

In [47]:
cdf3_cacao.loc[cdf3_cacao['Bean Type 2'].str.contains('mix'), 'Bean Type 2'] = 'Blend'

In [48]:
unique_types  = cdf3_cacao['Bean Type 2'].unique()

In [49]:
unique_types_list = list(unique_types)

In [50]:
unique_types_list

['Unknown',
 'Criollo',
 'Trinitario',
 'Foraster',
 'Forastero',
 'Blend',
 'Crioll',
 'Trinitari',
 'CCN51',
 'Nacional',
 'Beniano',
 'Amazon',
 'EET',
 'Matina',
 'Foraste',
 'Naciona']

In [52]:
results = [[name, [], 0] for name in unique_types]

for (i, element) in enumerate(unique_types):
    for (j, choice) in enumerate(unique_types[i+1:]):
        if fuzz.ratio(element, choice) >= 90:
            results[i][2] += 1
            results[i][1].append(choice)
            results[j+i+1][2] += 1
            results[j+i+1][1].append(element)

duped_types= pd.DataFrame(results, columns=['name', 'duplicates', 'duplicate_count'])

In [53]:
duped_types

          name            duplicates  duplicate_count
0      Unknown                    []                0
1      Criollo              [Crioll]                1
2   Trinitario           [Trinitari]                1
3     Foraster  [Forastero, Foraste]                2
4    Forastero            [Foraster]                1
5        Blend                    []                0
6       Crioll             [Criollo]                1
7    Trinitari          [Trinitario]                1
8        CCN51                    []                0
9     Nacional             [Naciona]                1
10     Beniano                    []                0
11      Amazon                    []                0
12         EET                    []                0
13      Matina                    []                0
14     Foraste            [Foraster]                1
15     Naciona            [Nacional]                1

In [54]:
duped_types2 = duped_types.loc[duped_types['duplicate_count'] == 1]

In [55]:
duped_types2

          name    duplicates  duplicate_count
1      Criollo      [Crioll]                1
2   Trinitario   [Trinitari]                1
4    Forastero    [Foraster]                1
6       Crioll     [Criollo]                1
7    Trinitari  [Trinitario]                1
9     Nacional     [Naciona]                1
14     Foraste    [Foraster]                1
15     Naciona    [Nacional]                1

# 
#choose items to keep /change and replace them in the dataframe

In [ ]:
duped_types2.iloc[0,1]

In [56]:

cdf3_cacao['Bean Type 2'] = cdf3_cacao['Bean Type 2'].replace(['Crioll', 'Trinitari','Foraste','Foraster', 'Naciona'],['Criollo','Trinitario','Forastero','Forastero', 'Nacional'])

In [57]:
cdf3_cacao['Bean Type 2'].unique()

array(['Unknown', 'Criollo', 'Trinitario', 'Forastero', 'Blend', 'CCN51',
       'Nacional', 'Beniano', 'Amazon', 'EET', 'Matina'], dtype=object)

In [58]:
cdf3_cacao

,Maker,Name,REF#,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin,Bean Type 2
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Unknown,Sao Tome,Unknown
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Unknown,Togo,Unknown
2,A. Morin,Atsane,1676,2015,70%,France,3.0,Unknown,Togo,Unknown
3,A. Morin,Akata,1680,2015,70%,France,3.5,Unknown,Togo,Unknown
4,A. Morin,Quilla,1704,2015,70%,France,3.5,Unknown,Peru,Unknown
...,...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,Unknown,Peru,Unknown
1791,Zotter,Congo,749,2011,65%,Austria,3.0,Forastero,Congo,Forastero
1792,Zotter,Kerala State,749,2011,65%,Austria,3.5,Forastero,India,Forastero
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,Unknown,India,Unknown
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.0,Unknown,Brazil,Unknown

# 
#get records for highest and lowest ratings

In [59]:
cdf3_cacao['Rating'] = cdf3_cacao['Rating'].astype(np.float64)

In [60]:
cdf3_best = cdf3_cacao.loc[cdf3_cacao['Rating'] >=4.5]

In [61]:
cdf3_best

,Maker,Name,REF#,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin,Bean Type 2
78,Amedei,Chuao,111,2007,70%,Italy,5.0,Trinitario,Venezuela,Trinitario
86,Amedei,Toscano Black,40,2006,70%,Italy,5.0,Blend,Unknown,Blend

In [62]:
cdf3_best = cdf3_cacao.loc[cdf3_cacao['Rating'] >=4.0]

In [63]:
cdf3_best

,Maker,Name,REF#,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin,Bean Type 2
9,A. Morin,Pablino,1319,2014,70%,France,4.0,Unknown,Peru,Unknown
17,A. Morin,Chuao,1015,2013,70%,France,4.0,Trinitario,Venezuela,Trinitario
20,A. Morin,Chanchamayo Province,1019,2013,63%,France,4.0,Unknown,Peru,Unknown
54,Amano,Morobe,725,2011,70%,U.S.A.,4.0,Unknown,Papua New Guinea,Unknown
56,Amano,Guayas,470,2010,70%,U.S.A.,4.0,Unknown,Ecuador,Unknown
...,...,...,...,...,...,...,...,...,...,...
1687,Valrhona,"Porcelana, Pedegral",757,2011,64%,France,4.0,Criollo,Venezuela,Criollo
1693,Valrhona,Manjari,129,2007,64%,France,4.0,"Criollo, Trinitario",Madagascar,Blend
1699,Valrhona,Guanaja,63,2006,70%,France,4.0,"Criollo, Trinitario",South America,Blend
1739,Willie's Cacao,Los Llanos,1848,2016,70%,U.K.,4.0,Unknown,Colombia,Unknown
1756,Woodblock,Ocumare,741,2011,70%,U.S.A.,4.0,Unknown,Venezuela,Unknown

In [64]:
cdf3_worst = cdf3_cacao.loc[cdf3_cacao['Rating'] <=2.0]

In [65]:
cdf3_worst

,Maker,Name,REF#,Review Date,Cacao %,Made in,Rating,Bean Type,Bean Origin,Bean Type 2
125,Artisan du Chocolat,Venezuela,486,2010,100%,U.K.,1.75,Unknown,Venezuela,Unknown
132,Artisan du Chocolat,Brazil Rio Doce,363,2009,72%,U.K.,1.75,Unknown,Brazil,Unknown
245,Bonnat,One Hundred,81,2006,100%,France,1.50,Unknown,Unknown,Unknown
249,Bouga Cacao (Tulicorp),"El Oro, Hacienda de Oro",341,2009,100%,Ecuador,1.50,Forastero (Arriba),Ecuador,Forastero
286,Cacao Barry,Tanzania,300,2008,75%,France,2.00,Unknown,Tanzania,Unknown
287,Cacao Barry,Venezuela,141,2007,72%,France,2.00,Unknown,Venezuela,Unknown
324,Cacaoyere (Ecuatoriana),Pichincha,259,2008,91%,Ecuador,1.50,Forastero (Arriba),Ecuador,Forastero
326,Callebaut,Baking,141,2007,70%,Belgium,1.00,Unknown,Ecuador,Unknown
339,Caoni (Tulicorp),Esmeraldas,237,2008,77%,Ecuador,2.00,Forastero (Arriba),Ecuador,Forastero
437,Claudio Corallo,Principe,252,2008,100%,Sao Tome,1.00,Forastero,blend,Forastero
449,Coppeneur,Ecuador Puristique,817,2012,100%,Germany,1.50,Unknown,Ecuador,Unknown
465,Cote d' Or (Kraft),Sensations Intense,48,2006,70%,Belgium,1.00,Unknown,Unknown,Unknown
554,Dolfin (Belcolade),Noir,63,2006,70%,Belgium,1.50,Unknown,Unknown,Unknown
627,Escazu,Guapiles,414,2009,65%,U.S.A.,2.00,Unknown,Costa Rica,Unknown
644,Felchlin,Supremo- SF,105,2006,62%,Switzerland,2.00,Unknown,Unknown,Unknown
676,French Broad,"Palo Blanco w/ panela, Chulucanas",887,2012,81%,U.S.A.,2.00,Unknown,Peru,Unknown
779,Habitual,one hundred,1205,2014,100%,Canada,2.00,Unknown,Unknown,Unknown
811,Hoja Verde (Tulicorp),Arriba,414,2009,80%,Ecuador,2.00,Forastero (Arriba) ASS,Ecuador,Forastero
828,Hotel Chocolat,"Island Growers, 2012, 120hr c.",1113,2013,100%,U.K.,1.75,Trinitario,St. Lucia,Trinitario
878,Jacque Torres,Trinatario Treasure,5,2006,71%,U.S.A.,2.00,Trinitario,Ghana,Trinitario
900,Ki' Xocolatl,Dark,431,2009,72%,Mexico,2.00,Unknown,Mexico,Unknown
983,Love Bar,Nicaragua,1502,2015,75%,U.S.A.,2.00,Unknown,Nicaragua,Unknown
988,Machu Picchu Trading Co.,Peru,721,2011,70%,Peru,1.50,Unknown,Peru,Unknown
1005,Maglio,Africa,300,2008,75%,Italy,2.00,Unknown,Tanzania,Unknown
1009,Majani,Ecuador,531,2010,70%,Italy,2.00,Unknown,Ecuador,Unknown
1114,Michel Cluizel,Carre Amer,24,2006,60%,France,2.00,Unknown,Unknown,Unknown
1115,Michel Cluizel,Carre Grand Noir,24,2006,85%,France,2.00,Unknown,Unknown,Unknown
1120,Michel Cluizel,Noir Infini,81,2006,99%,France,2.00,Unknown,Unknown,Unknown
1129,Middlebury,Houseblend,887,2012,65%,U.S.A.,1.50,Unknown,Unknown,Unknown
1130,Middlebury,Alto Beni,887,2012,75%,U.S.A.,2.00,Criollo,Bolivia,Criollo
1175,Neuhaus (Callebaut),Dark,135,2007,73%,Belgium,1.00,Unknown,Unknown,Unknown
1176,Neuhaus (Callebaut),West Africa,15,2006,73%,Belgium,2.00,Forastero,West Africa,Forastero
1217,Olivia,Carribean-Raw,688,2011,76%,Canada,2.00,Unknown,Carribean,Unknown
1251,Pacari,Raw,266,2008,100%,Ecuador,2.00,Forastero (Arriba),Ecuador,Forastero
1317,Pralus,Cuyagua,451,2009,75%,France,2.00,Unknown,Venezuela,Unknown
1320,Pralus,Dominican Republic-Organic,280,2008,75%,France,2.00,Unknown,Dominican Republic,Unknown
1411,S.A.I.D.,100 percent,615,2010,100%,Italy,1.50,Unknown,Unknown,Unknown
1423,Santander (Compania Nacional),Colombian Semi Dark,32,2006,53%,Colombia,2.00,Forastero (Nacional),Colombia,Forastero
1439,Scharffen Berger,Extra Dark,15,2006,82%,U.S.A.,2.00,Unknown,Unknown,Unknown
1441,Scharffen Berger,Kumasi Sambirano,40,2006,68%,U.S.A.,2.00,Blend,blend,Blend
1442,Scharffen Berger,Jamaica a l'ancienne,56,2006,70%,U.S.A.,2.00,Trinitario,Jamaica,Trinitario
1452,Shark's,Hilo,713,2011,73%,U.S.A.,2.00,Unknown,Hawaii,Unknown
1492,Snake & Butterfly,Ghana,693,2011,67%,U.S.A.,1.50,Forastero,Ghana,Forastero
1622,TCHO,West Africa,1716,2016,62%,U.S.A.,2.00,Forastero,West Africa,Forastero
1635,Tejas,Capistrano,821,2012,70%,U.S.A.,2.00,Unknown,Peru,Unknown
1658,Theo,"Venezuela; Barinos, Merida, Tachron",188,2007,91%,U.S.A.,2.00,Blend,Venezuela,Blend
1694,Valrhona,Le Noir Extra Amer,147,2007,85%,France,1.50,Unknown,Unknown,Unknown
1720,Vintage Plantations (Tulicorp),"Los Rios, Rancho Grande 2004/2007",153,2007,100%,U.S.A.,2.00,Forastero (Arriba),Ecuador,Forastero
1721,Vintage Plantations (Tulicorp),"Los Rios, Rancho Grande 2004/2007",153,2007,90%,U.S.A.,2.00,Forastero (Arriba),Ecuador,Forastero

# 
#further clean up

In [ ]:
cdf3_cacao=cdf3_cacao.rename(columns = {'Bean Type 2' : 'Bean Type Group'})

In [ ]:
#cdf3_cacao = cdf3_cacao['Rating'].astype(np.float64)
#cdf3_cacao['Cacao %'] = float(cdf3_cacao["Cacao %"].rstrip("%"))
cdf3_cacao['Cacao %'] = cdf3_cacao['Cacao %'].str.rstrip('%').astype('float64')

In [ ]:
df_ready = cdf3_cacao.reset_index(drop=True).copy()

In [ ]:
df_ready.to_csv('cacao_ready.csv', index=False)

In [ ]:
df_ready